<header>
    <nav>
        <a href="/">Home</a>
        <a href="/">Catalogue</a>
        <a href="/">Books</a>
        <a href="/">Games</a>
        <a href="/">New</a>
        <i class="fa fa-search icon"></i>
        <i class='fa fa-shopping-cart red-color'></i>
    </nav>
  </header>
