<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header2.ejs") %>
        <!-- add main element -->
         <main class="container-lg">

            <h1>Books & Games</h1>

            <img class="home" src="https://scholarlykitchen.sspnet.org/wp-content/uploads/2018/12/iStock-823410534.jpg" alt="home page image">
            
            <h6>Explore the world of games and books</h6>
        </main>
        
    
    </body>
</html>