<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <!-- add main element -->
         <main>

            <h1>Books & Games</h1>

            <h6>Explore the world of games and books</h6>


         </main>
 
    
    </body>
</html>