<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
     <%- include("../partials/header.ejs") %>
     <h3  style="position: absolute;left: 15%;">Hello, <%= user %></h3>
   
     </br>
       <div class="container-lg">
           <h1> Add New Product </h1>
           <form class="container-lg" action="/products" method="POST">
               <div class="mb-3">
                   <label for="name">Name:</label>
                   <input style=" width: 100%;"type="text" name="name" id="name">
               </div>
               <div class="mb-3">
                   <label for="author">Author:</label>
                   <input style=" width: 100%;"type="text" name="author" id="author">
               </div>
               <div class="mb-3">
                   <label for="productType">Product Type:</label>
                   <input style=" width: 100%;"type="text" name="productType" id="productType">
               </div>
               <div class="mb-3">
                   <label for="price">Price:</label>
                   <input style=" width: 100%;"type="text" name="price" id="price">
               </div>
               <div class="mb-3">
                   <label for="image">Image URL: </label>
                   <input style=" width: 100%;"type="text" name="image" id="image">
               </div>
               <input type="submit" value="Add New Product">
           </form>
       </div>
 
    
    </body>
</html>